:host { 
  display: block; 
  overflow-y: auto;
  overflow-x: hidden;
  height: 50vh;
  width: 16vw;
  min-width: 240px;
  padding: 0px 8px;
  border: 1px solid;
}

p {
  margin: 8px 0px;
}

.time-line {
  width: 3px;
  border-radius: 3px;
  height: 48px;
  margin-left: 14px;
  background: #777777;
}

app-node {
  width: 100%;
}

